$black: #000000;
$white: #ffffff;
$darker_gray: #292929;
$dark_gray: #414141;
$medium_gray: #5f5f5f;
$light_gray: #7e7e7e;
$lighter_gray: #d1d1d1;
$light_blue: #6a9dce;
$dark_red: #880000;
$red: #db1010;
$medium_green: #0f461b;
$green: #58bd61;
$yellow: #fdfb7b